<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tu.proyecto.hapticpulse">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BIND_WALLPAPER" />

    <application>
        <service
            android:name=".MyWallpaperService"
            android:label="Haptic Pulse Pro"
            android:permission="android.permission.BIND_WALLPAPER"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper" />
        </service>
    </application>
</manifest>